svg {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%);
}
.t1, .t2, .t3 {
    opacity: 0;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.fade-in {
    animation: fadeIn 0.5s ease-in-out; /* Продолжительность анимации и тип сглаживания можно настроить по вашим потребностям */
    animation-fill-mode: forwards; /* Оставить элемент видимым после завершения анимации */
}
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
.fade-out {
    animation: fadeOut 0.5s ease-in-out; /* Продолжительность анимации и тип сглаживания можно настроить по вашим потребностям */
    animation-fill-mode: forwards; /* Оставить элемент скрытым после завершения анимации */
}